body, h1, h2, h3, p, ul, li, a, img, button {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #fff;
    background-color: #003934;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0; 
}
.container {
    width: 80%; 
    margin: auto;
    padding:auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
header::before {
    content: '';
    position: absolute;
    top: -70px;
    left: 150px;
    width: 350px;
    height: 200px;
    background-color: #003934;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(50px);
    z-index: 0;
}

header .logo img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

header .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

header .hamburger::before,
header .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 0;
}

header .hamburger::before {
    top: -8px;
}

header .hamburger::after {
    top: 8px;
}

header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background: #003934;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.nav-active {
    transform: translateX(0);
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header nav ul li {
    margin-bottom: 10px;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.aboutme h2 {
    text-align: center;
    margin: 20px 0;
}
.aboutme p {
    text-align: justify;
}

.content {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
}
.photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
    border: 3px solid #fff;
    display: block;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.buttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    text-align: center;
}
#Education, button {
    background-color: #775ADF;
    color: #fff;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
#Education{
    background-color: #0E062B;
    border:1px solid#775ADF; 
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #FCD19C;
}
thead {
    background-color: #003934;
}
thead th {
    color: #fff;
    padding: 10px;
    text-align: left;
}
tbody tr {
    background-color: #003934;
}
tbody td {
    color: #fff;
    padding: 10px;
}
footer {
    padding: 20px;
    border-top: 2px solid #85CECF;
    border-radius: 15px;
    background: #0A2220;
    text-align: center;
}
footer .footerDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

footer .socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer .socialmedia a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    header {
        padding: 10px 15px;
    }
    header .hamburger {
        display: block;
    }
    header nav {
        width: 50%;
        height: 40vh;
        padding: 20px;
        overflow-y: auto;         
    }

    header nav ul {
        padding: 0;
        gap: 15px;
    }
    header nav ul li a {
        display: block;
        padding: 10px 20px;       
        background-color: #003934;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }
    header nav ul li a:hover {
        background-color: #003934; 
    }
    .buttons {
        flex-direction: row;
        justify-content: space-around;
    }

    .photo img {
        width: 150px;
        height: 150px;
    }

    footer .footerDescription {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 700px) and (max-width: 840px) and (orientation: landscape) { 
    body {
        padding: 25px;
    }
    header {
        padding: 10px 15px;
    }
    header .hamburger {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
    }
    header .hamburger::before,
    header .hamburger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        left: 0;
    }
    header .hamburger::before {
        top: -8px;
    }
    header .hamburger::after {
        top: 8px;
    }
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background: #003934;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-active {
        transform: translateX(0);
    }
    header nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    header nav ul li {
        margin-bottom: 10px;
        text-align: center;
    }
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        background-color: #003934;
        transition: background-color 0.3s ease;
    }
    header nav ul li a:hover {
        background-color: #003934;
    }
    .aboutme h2 {
        text-align: center;
        font-size: 22px;
    }
    .photo img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 10px auto;
        border: 3px solid #fff;
        display: block;
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        margin: 20px;
    }
    footer {
        padding: 20px;
    }
    footer .socialmedia a img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        font-family: 'Arial', sans-serif;
        line-height: 1.5;
        color: #fff;
        background-color: #003934; 
        padding: 20px;
        overflow-x: hidden;
        position: relative;
    }
    header .hamburger {
        display: none;
    }
    header nav {
        position: relative;
        transform: none;
        height: auto;
        width: 100%;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    header nav ul li {
        margin: 0 10px;
    }
    header nav ul li a {
        font-size: 18px;
        color: #fff;
    }
    .aboutme {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 15px;
        gap: 20px;
    }
    .photo {
        flex: 1 1 250px;
    }
    .photo img {
        width: 100%;
        max-width: 220px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        float:left;
    }
    .content {
        flex: 2 1 400px;
    }
    .content h2 {
        margin: 0 0 10px;
        font-size: 21px;
        color: #FFFFFF;
    }
    .content p {
        line-height: 1.6;
        float:right;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }
    .buttons a {
        text-decoration: none;
        color: #fff;
    }
    button {
        background-color: #775ADF;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
    }
    table {
        width: 95%;
        border-collapse: collapse;
        margin: 20px auto;
    }
    table, th, td {
        border: 2px solid #FCD19C;
    }
    thead {
        background-color: #003934;
    }
    thead th {
        color: #fff;
        padding: 12px;
        text-align: left;
        border: 2px solid #FCD19C;
    }
    tbody tr {
        background-color: #003934;
    }
    tbody tr:nth-child(even) {
        background-color: #003934;
    }
    tbody td {
        color: #fff;
        padding: 12px;
        border: 2px solid #FCD19C;
    }
    footer {
        margin: 0;
        padding: 25px;
        border-top: 2px solid #85CECF;
        border-radius: 15px 15px 0 0;
        background: #0A2220;
    }
    .footerDescription {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 0;
    }
    .socialmedia {
        margin-top: 0;
        padding: 0;
    }
    footer .address, footer .footerDescription {
        margin-bottom: 15px;
        font-size: 11px;
    }
    footer .address h3, footer .footerDescription h3 {
        color: #fff;
    }
    footer .socialmedia {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    footer .socialmedia a img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    footer:hover {
        border-color: rgba(255, 255, 255, 0.8);
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }
}
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        font-family: 'Arial', sans-serif;
        line-height: 1.5;
        color: #fff;
        background-color: #003934;
        padding: 20px;
        overflow-x: hidden;
        position: relative;
    }
    header .hamburger {
        display: none;
    }
    header nav {
        position: relative;
        transform: none;
        height: auto;
        width: 100%;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    header nav ul li {
        margin: 0 15px;
    }
    header nav ul li a {
        font-size: 20px;
        color: #fff;
    }
    .aboutme {
        max-width: 1000px;
        margin: 50px auto;
        
        border-radius: 15px;
        overflow: hidden;
        position: relative;
    }
    .photo {
        float: left;
        width: 250px;
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .photo img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

    .content {
        margin-left: 20px;
        margin-right: 30px; 
        margin-top: -10px;
        text-align: center; 
    }

    .content h2 {
        margin: 0 0 10px;
        font-size: 26px;
        color: #FFFFFF;
    }

    .content p {
        line-height: 1.6;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-top: 30px;
    }

    .buttons a {
        text-decoration: none;
        color: #fff;
    }

    button {
        background-color: #775ADF;
        color: #fff;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        margin-top: 10px;
    }

    table {
        width: 98%;
        border-collapse: collapse;
        margin: 30px auto;
    }

    table, th, td {
        border: 2px solid #FCD19C;
    }

    thead {
        background-color: #FCD19C;
    }

    thead th {
        color: #fff;
        padding: 14px;
        text-align: left;
        border: 2px solid #FCD19C;
    }

    tbody tr {
        background-color: #003934;
    }

    tbody tr:nth-child(even) {
        background-color: #003934;
    }

    tbody td {
        color: #fff;
        padding: 14px;
        border: 2px solid #FCD19C;
    }

    footer {
        margin: 0;
        padding: 30px;
        border-top: 2px solid #85CECF;
        border-radius: 15px 15px 0 0;
        background: #0A2220;
    }

    .footerDescription {
        display: flex;
        justify-content: space-around;
        gap: 25px;
        margin-bottom: 0;
    }

    .socialmedia {
        margin-top: 0;
        padding: 0;
    }

    footer .address,
    footer .footerDescription {
        margin-bottom: 20px;
        font-size: 12px;
    }

    footer .address h3,
    footer .footerDescription h3 {
        color: #fff;
    }

    footer .socialmedia {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    footer .socialmedia a img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    footer:hover {
        border-color: rgba(255, 255, 255, 0.8);
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }

}
@media (min-width:1025px){
    body{
        font-family: 'Arial', sans-serif;
        line-height: 1.5;
        color: #fff;
        background-color: #003934; 
        padding: 20px;
        overflow-x: hidden;
        position: relative;
    }
    
    header .hamburger {
        display: none;
    }

    header nav {
        position: relative; 
        transform: none; 
        height: auto; 
        width: 100%; 
        background: none; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    header nav ul {
        display: flex; 
        flex-direction: row;
        background: none; 
        padding: 0; 
        margin: 0; 
        box-shadow: none; 
        justify-content: center; 
        gap: 20px; 
    }

    header nav ul li {
        margin: 0 15px; 
    }

    header nav ul li a {
        font-size: 16px; 
        color: #fff; 
    }
    .content{
        width:80%;
        margin-left: 50px;
    }
    .content img{
        width: 100%;
        max-width: 180px;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius:0px ;
        border-bottom-right-radius:10px ;
        border-bottom-left-radius: 0;
        
        object-fit: cover; 
        float: left;
        margin-right: 60px;
        margin-left: 30px;
    }
    .content h2 p{
        float: right;
    }
    .content p{
        text-align: justify;
    }
    footer {
        position: relative;
        margin: 0;
        bottom: 0; 
        left: 0; 
        border-top: 2px solid #85CECF;
        border-radius: 15px 15px 15px 15px; 
        background: #0A2220;
        z-index: 1; 
    }
    .footerDescription {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 0;
    }
    .socialmedia {
        margin-top: 0;
        padding: 0;
    }
    footer .address, footer .footerDescription {
        margin-bottom: 15px;
        font-size: 12px;
    }
    footer .address h3, footer .footerDescription h3 {
        color: #fff;
    }
    footer .socialmedia {
        display: flex;
        justify-content: center;
        gap:40px;
        border-radius: 50%;
    }
    footer .socialmedia a img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    footer:hover {
        border-color: rgba(255, 255, 255, 0.8); 
        transform: translateY(-5px); 
        transition: all 0.3s ease-in-out;
    }
}

