body, h1, h2, h3, p, ul, li, a, img, button {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #fff;
    background-color: #003934;
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0; 
}
.container {
    width: 80%; 
    margin: auto;
    padding:auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
}
header::before {
    content: '';
    position: absolute;
    top: -70px;
    left: 150px;
    width: 350px;
    height: 200px;
    background-color: #003934;
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(50px);
    z-index: 0;
}

header .logo img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

header .hamburger {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

header .hamburger::before,
header .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 0;
}

header .hamburger::before {
    top: -8px;
}

header .hamburger::after {
    top: 8px;
}

header nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background: #003934;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.nav-active {
    transform: translateX(0);
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header nav ul li {
    margin-bottom: 10px;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.contact{
    margin-left:40px;
}
.input{
    margin-left:40px;
}
.button{
    margin-left: 40px;
}
.email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.email img{
    width:50px;
    height:50px;
    border-radius: 50%;

}
.email a{
    text-decoration:none;
    color: #fff;
}
.socialmediaAccounts img{
    display: inline-flex;
    gap:20px;
    margin-left: 30px;
    width:40px;
    height:40px;
    border-radius:50%;
}
.input input {
    width: 80%;
    height:30px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #FFD54F;
    color: #fff;
    outline: none
}
.input textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFD54F;
    color: #fff;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
}
.input ::placeholder{
    color:#fff
}
.input button {
    margin-left: 300px;
    padding: 10px 20px;
    background: #FFD54F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button {
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Distribute space evenly between buttons */
    width: 400px;
    margin-bottom: 20px;
}


.button a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
}

#submit {
    width: 70px;
    height: 40px;
    background: #FFD54F;
    border: none;
    border-radius: 3px;
    color: #fff;
}





footer {
    position:relative;
    margin: 0; 
    padding: 20px; 
    bottom: 0; 
    left: 0; 
    border-top: 2px solid #85CECF;
    border-radius: 15px 15px 15px 15px; 
    background: #0A2220;
    z-index: 1; 
}
.footerDescription {
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin-bottom: 0;
}
.socialmedia{
    margin-top: 0;
    padding: 0;
}
footer .address, footer .footerDescription {
    margin-bottom: 15px;
    font-size: 12px;
}

footer .address h3, footer .footerDescription h3 {
    color: #fff;
}

footer .socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-radius: 50%;
}

footer .socialmedia a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
footer:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    transform: translateY(-5px); 
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
    header {
        padding: 10px 15px;
    }
    header .hamburger {
        display: block;
    }
    header nav {
        width: 50%;
        height: 40vh;
        padding: 20px;
        overflow-y: auto;         
    }

    header nav ul {
        padding: 0;
        gap: 15px;
    }
    header nav ul li a {
        display: block;
        padding: 10px 20px;       
        background-color: #003934;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }
    header nav ul li a:hover {
        background-color: #003934; 
    }
    .photo img {
        width: 150px;
        height: 150px;
    }

    .buttons {
        flex-direction: row;
    }

    .buttons button {
        padding: 10px 30px;
    }

    .hamburger {
        display: none;
    }
}


@media only screen and (min-width: 700px) and (max-width: 840px) and (orientation: landscape){
    body {
        padding: 25px;
    }
    header {
        padding: 10px 15px;
    }
    header .hamburger {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
    }
    header .hamburger::before,
    header .hamburger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        left: 0;
    }
    header .hamburger::before {
        top: -8px;
    }
    header .hamburger::after {
        top: 8px;
    }
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        background: #003934;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }
    .nav-active {
        transform: translateX(0);
    }
    header nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    header nav ul li {
        margin-bottom: 10px;
        text-align: center;
    }
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        background-color: #003934;
        transition: background-color 0.3s ease;
    }
    header nav ul li a:hover {
        background-color: #003934;
    }
.contact{
    margin-left:40px;
}
.input{
    margin-left:40px;
}
.button{
    margin-left: 40px;
}
.email {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.email img{
    width:50px;
    height:50px;
    border-radius: 50%;

}
.email a{
    text-decoration:none;
    color: #fff;
}
.socialmediaAccounts img{
    display: inline-flex;
    gap:20px;
    margin-left: 50px;
    width:40px;
    height:40px;
    border-radius:50%;
}
.input input {
    width: 80%;
    height:30px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #FFD54F;
    color: #fff;
    outline: none
}
.input textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFD54F;
    color: #fff;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
}
.input ::placeholder{
    color:#fff
}
.input button {
    margin-left: 300px;
    padding: 10px 20px;
    background: #FFD54F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button {
    display: flex; 
    justify-content: space-between; 
    width: 570px;
    margin-bottom: 20px;
}

.button a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
}

#submit {
    width: 70px;
    height: 40px;
    background: #FFD54F;
    border: none;
    border-radius: 3px;
    color: #fff;
}



.downloadcv button a{
    text-decoration:none;
    color: #fff;

}
footer {
    position:relative;
    margin: 0; 
    padding: 20px; 
    bottom: 0; 
    left: 0; 
    border-top: 2px solid #85CECF;
    border-radius: 15px 15px 15px 15px; 
    background: #0A2220;
    z-index: 1; 
}
.footerDescription {
    display: flex;
    justify-content: space-around;
    gap:20px;
    margin-bottom: 0;
}
.socialmedia{
    margin-top: 0;
    padding: 0;
}
footer .address, footer .footerDescription {
    margin-bottom: 15px;
    font-size: 12px;
}

footer .address h3, footer .footerDescription h3 {
    color: #fff;
}

footer .socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-radius: 50%;
}

footer .socialmedia a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
footer:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    transform: translateY(-5px); 
    transition: all 0.3s ease-in-out;
}
}



@media  (min-width:1025px){
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.5;
        color: #fff;
        background-color: #003934; 
        padding: 20px;
        overflow-x: hidden;
        position: relative;
    }

    header .hamburger {
        display: none;
    }
    header{
        position: relative;
    }
    header nav {
        position: relative; 
        transform: none; 
        height: auto; 
        width: 100%; 
        background: none; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    header nav ul {
        display: flex; 
        flex-direction: row;
        background: none; 
        padding: 0; 
        margin: 0; 
        box-shadow: none; 
        justify-content: center; 
        gap: 20px; 
    }

    header nav ul li {
        margin: 0 10px; 
    }

    header nav ul li a {
        font-size: 16px; 
        color: #fff; 
    }
    .contact-inputwrapper{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        gap:40px;
        width:100%;
        margin: auto auto;
        padding:0 20px;
        
    }
    .contact{
        flex:1;
        width:40%;
        margin-left:40px;
    }
    .input{
        flex:1;
        width:40%;

    }
    .button{
        display:flex;
        justify-content:space-between;
        width:90%;
        margin-bottom: 20px;
    }
    footer {
        position: relative;
        margin: 0; 
        padding: 20px; 
        bottom: 0; 
        left: 0; 
        border-top: 2px solid #85CECF;
        border-radius: 15px 15px 15px 15px; 
        background: #0A2220;
        z-index: 1; 
    }
    .footerDescription {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 0;
    }

    .socialmedia {
        margin-top: 0;
        padding: 0;
    }
    footer {
        position: relative;
        margin: 0; 
        padding: 20px; 
        bottom: 0; 
        left: 0; 
        border-top: 2px solid #85CECF;
        border-radius: 15px 15px 15px 15px; 
        background: #0A2220;
        z-index: 1; 
    }
    footer .address, footer .footerDescription {
        margin-bottom: 15px;
        font-size: 12px;
    }

    footer .address h3, footer .footerDescription h3 {
        color: #fff;
    }

    footer .socialmedia {
        display: flex;
        justify-content: center;
        gap: 15px;
        border-radius: 50%;
    }

    footer .socialmedia a img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    footer:hover {
        border-color: rgba(255, 255, 255, 0.8); 
        transform: translateY(-5px); 
        transition: all 0.3s ease-in-out;
    }
}